<!DOCTYPE html>
<html lang="en">
<head>
    <title>{{ page.title }} - Ploter Max</title>
    <meta charset="UTF-8">
    <script src="https://kit.fontawesome.com/b210ec124a.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="/assets/css/styles.css">
</head>
<body>
    <header class="header">
        <div class="author">
            <h2 class="name">Max Ploter</h2>
            <div class="author__intro">Software engineer, Computer science enthusiast.</div>
        </div>
        {% include navigation.html %}
    </header>
    <main class="content">
        {{ content }}
    </main>
    <footer class="footer">
        <ul class="list">
            <li class="list__item">
                <i class="fa fa-github"></i>
                <a class="link" href="https://github.com/Maxvgrad">Gh</a>
            </li>
            <li class="list__item">
                <i class="fab fa-stack-overflow"></i>
                <a class="link" href="https://stackoverflow.com/users/9215813/maksim-ploter">SO</a>
            </li>
            <li class="list__item">
                <i class="fa fa-linkedin"></i>
                <a class="link" href="https://www.linkedin.com/in/maksimvinogradov/">Li</a>
            </li>
        </ul>
    </footer>
</body>
</html>
